/* projects */
.projects-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    background-color: var(--SERIAL-BLACK);
    box-shadow: 12px 10px var(--SERIAL-GRAY);

}

.prj_title h1 {
    font-size: 30px;
    color: var(--SERIAL-WHITE);
}

.prj_icon img {
    width: 50px;
}

.prj_description p {
    font-size: 18px;
    color: var(--SERIAL-WHITE);
}

