/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --BCK-COLOR: #211e20;
    --MED1-COLOR: #555568;
    --MED2-COLOR: #a0a08b;
    --HIGH-COLOR: #e9efec;

    --SERIAL-WHITE: #cbcbcb;
    --SERIAL-BLACK: #2d2d2d;
    --SERIAL-GRAY: #6c6c6c;

}
.a{
    text-decoration: none;
}

.bold {
    font-weight: bold;
}


@font-face {
    font-family: 'VT323';
    src: url('vt323/VT323-Regular.eot');
    src: url('vt323/VT323-Regular.eot?#iefix') format('embedded-opentype'),
        url('vt323/VT323-Regular.woff2') format('woff2'),
        url('vt323/VT323-Regular.woff') format('woff'),
        url('vt323/VT323-Regular.ttf') format('truetype'),
        url('vt323/VT323-Regular.svg#VT323-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





/* Titles */
#projects-title > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15em;
    color: var(--SERIAL-BLACK);
}

.separator {
    border: 12px solid var(--SERIAL-BLACK);
    margin-top: 0em;
    margin-bottom: 0em;
}

.top-left {
    position: absolute;
    top: 15px;
    left: 10px;
  }

.transparent-img {
    margin-top: 0em;
    margin-bottom: 0em;
    opacity: 0.7;
}


.card {
    background-color: transparent;
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.card-top {
    width: 25%;
    background-color: var(--SERIAL-BLACK);
    clip-path: polygon(
        0 0,
        0 0,
        0 0,
        90% 0,
        100% 100%,
        0 100%,
        0 100%,
        0 100%,
        0 0
    )
}
.card-body {
    background-color: var(--SERIAL-BLACK);
    height: 200px;
    box-shadow: 15px 10px var(--SERIAL-GRAY);
}
.card-top > h1 {
    color: var(--SERIAL-WHITE);
    font-size: 2em;
    padding-left: 5px;
}
.card-body > p {
    color: var(--SERIAL-WHITE);
    padding-top: 10px;
    padding-left: 10px;
}