<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='experience.css') }}">
</head>
<body>

    <!-- navbar -->
    <div class="container">
        <div class="nav_container">
            <div class="navbar">
                <a href="/profile">Profile</a>
                <a href="/experience">Experience</a>
            </div>
        </div>
        </div>

    <div class="head-space">
        <h1 class="head">Jobs</h1>
        <div class="head_line_1"></div>
        <div class="head_line_2"></div>
        <div class="head_line_3"></div>
    </div>

    <div class="job-space">
        {% for job in jobs_data %}
        <div class="projects-container expand-animation">
            <div class="prj_header">
                <div class="prj_title">
                    <h1>{{ job.job }}</h1>
                    <p class="soft-text">{{ job.start_date }} - {{ job.end_date }}</p>
                </div>
                <div class="prj_icon">
                    <img src="{{ job|get_icon }}">
                </div>
            </div>
            <div class="prj_content">
                <p class="description">{{ job.description }}</p>
                <p class="techs">Techs: {{ job|get_techs }}</p>
            </div>
        </div>
        {% endfor %}
        <!-- Add more cards as needed -->
    </div>

    <div class="head-space">
        <h1 class="head">Projects</h1>
        <div class="head_line_1"></div>
        <div class="head_line_2"></div>
        <div class="head_line_3"></div>
    </div>

    <div class="project-space">
        {% for project in projects_data %}
        <div id="{{ project.name }}" class="projects-container expand-animation">
            <div class="prj_header">
                <div class="prj_title">
                    <h1> {{ project.name }} </h1>
                    <p class="soft-text">{{ project.created_at }}</p>
                </div>
                <div class="prj_icon">
                    <img src="{{ project|get_icon }}">
                </div>
            </div>
            <div class="prj_content">
                <p class="description">{{ project.description }}</p>
                <p class="techs">Languages: {{ project|get_languages }}</p>
            </div>
        </div>

        <script>
            document.getElementById("{{ project.name }}").onclick = function() {
                window.location.href = "https://github.com/MachineMindCore/{{project.name}}";
            };
        </script>
        {% endfor %}
        <!-- Add more cards as needed -->
    </div>
</body>
</html>
