<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='experience.css') }}">
</head>
<body>

    <!-- navbar -->
    <div class="container">
        <div class="nav_container">
            <div class="navbar">
                <a href="/profile">Profile</a>
                <a href="/experience">Experience</a>
            </div>
        </div>
        </div>

    <div class="head-space">
        <h1 class="head">Jobs</h1>
        <div class="head_line_1"></div>
        <div class="head_line_2"></div>
        <div class="head_line_3"></div>
    </div>

    <div class="project-space">
        {% for job in jobs_data %}
        <div class="projects-container expand-animation">
        <div class="prj_title">
            <h1> {{ job.name }} </h1>
        </div>
        <div class="prj_icon">
            <img src="">
        </div>
        <div class="prj_description">
            <p>{{ job.description }}</p>
        </div>
        </div>
        {% endfor %}
        <!-- Add more cards as needed -->
    </div>

    <div class="head-space">
        <h1 class="head">Projects</h1>
        <div class="head_line_1"></div>
        <div class="head_line_2"></div>
        <div class="head_line_3"></div>
    </div>

    <div class="project-space">
        {% for project in projects_data %}
        <div class="projects-container expand-animation">
        <div class="prj_title">
            <h1> {{ project.name }} </h1>
        </div>
        <div class="prj_icon">
            <img src="{{ project|get_icon }}">
        </div>
        <div class="prj_description">
            <p>{{ project.description }}</p>
        </div>
        </div>
        {% endfor %}
        <!-- Add more cards as needed -->
    </div>
</body>
</html>
